{% extends "dashboard/settings/base_settings.html" %}
{% load static %}
{% block title %}Settings {% endblock %}
{% block profiler %}
{% with profiles=profiles %}
  {{ block.super }}
{% endwith %}
{% endblock profiler %}
{% block content %}
<!-- Bootstrap Color Picker -->
<link rel="stylesheet" href="{% static 'dashboard/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css' %}">
<div class="content-wrapper" id="contents" style="background: {{configs.background_color}}">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
     
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-md-12">
            
                <div class="card card-primary">
                    <div class="card-header">
                        Setting Section
                    </div>
                    <div class="card-body">
                      {% if messages %}
                      {% for message in messages %}
                      <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                      {% endfor %}
                      {% endif %}
                        <div class="col-md-9">
                          <form class="form-horizontal">
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-4 col-form-label">Site Name:</label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputName" placeholder="{{configs.site_name}}" disabled>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-4 col-form-label">Logo:</label>
                              <div class="col-sm-6">
                                <img src="{{configs.logo.url}}" style="width: 120px; height: 80px;">
                                
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-4 col-form-label">Header Background Color:</label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputName" placeholder="{{configs.header_color}}" disabled>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-4 col-form-label">Page Background Color:</label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputName" placeholder="{{configs.background_color}}" disabled>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-4 col-form-label">Sidebar Background Color:</label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputName" placeholder="{{configs.sidebar_color}}" disabled>
                              </div>
                            </div>
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-4 col-form-label">Footer Background Color:</label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputName" placeholder="{{configs.footer_color}}" disabled>
                              </div>
                            </div>   
                            <div class="form-group row">
                              <label for="inputName" class="col-sm-4 col-form-label">Default Profile</label>
                              <div class="col-sm-6">
                                <input type="text" class="form-control" id="inputName" placeholder="{{configs.default_profile}}" disabled>
                              </div>
                            </div>  
                            <hr>
                                                
                          
                          </form>
                           
                        </div>
                       
                    </div>
                    <div class="card-footer">
                      <a href="{% url 'settings_update' configs.pk %}" class="btn btn-primary">Edit </a>
                      
                    </div>   
                </div>
                
            </div>
        </div>
       
        <!-- /.row -->

       
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <script src="{% static 'dashboard/plugins/jquery/jquery.min.js' %}"></script>
  <!-- bootstrap color picker -->
<script src="{% static 'dashboard/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js' %}"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      bsCustomFileInput.init();
    });

 
    </script>
    <script>
        function changePageBg(color){
            document.getElementById('contents').style.background=color;
        }
        function changeHeaderBg(color){
            document.getElementById('header').style.background=color;
        }
        function changeSidebarBg(color){
            document.getElementById('sidebar').style.background=color;
        }
        function changeFooterBg(color){
            document.getElementById('footer').style.background=color;
        }
    </script>
    <script>
        $(function () {
               //Colorpicker
            $('.my-colorpicker1').colorpicker();
            $('.my-colorpicker2').colorpicker();
            $('.my-colorpicker3').colorpicker();
            $('.my-colorpicker4').colorpicker();
        })
    </script>


{% endblock content %}