{% extends "dashboard/base.html"%}
{% load static %}
{% block title %}Dashboard {% endblock %}
{% block profiler %}
{% with profiles=profiles %}
  {{ block.super }}
{% endwith %}
{% endblock profiler %}
<!-- Loading entities -->
{% block profiler_entities %}
{% with entities=entities %}
  {{ block.super }}
{% endwith %}
{% endblock profiler_entities %}
{% block content %}
<link rel="stylesheet" href="{% static 'dashboard/dist/maps/leaflet.groupedlayercontrol.css' %}" />
<script src="{% static 'dashboard/plugins/jquery/jquery.min.js' %}"></script> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<script src="{% static 'dashboard/dist/maps/leaflet.groupedlayercontrol.js' %}"></script>
<link rel="stylesheet" href="{% static 'dashboard/dist/maps/leaflet.draw.css' %}" />
<script src="{% static 'dashboard/dist/maps/leaflet.draw.js' %}"></script>
<script src="https://unpkg.com/@turf/turf@5.1.6/turf.min.js"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
     
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row" id="summary">
          {% if summaries %}
          {% for summary,counts in summaries %}
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box">
              <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

              <div class="info-box-content">
                <span class="info-box-text">{{summary}}</span>
                <span class="info-box-number">{{counts}}</span>
                
                  
                </span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
          {% endfor %}
          {% endif %}
        
        </div>
        <!-- /.row -->
        
        <div class="row">
          <div class="col-md-12">
            <div class="col-12 col-sm-12">
              <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0">
                  <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="profile_details-tab" data-toggle="pill" href="#profile_details" role="tab" aria-controls="profile_details" aria-selected="true">Records(Summaries)</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="maps-tab" data-toggle="pill" href="#maps" role="tab" aria-controls="maps" aria-selected="false">Map</a>
                    </li>
                  </ul>
                </div>
                <div class="card-body">
                  <div class="tab-content" id="custom-tabs-four-tabContent">
                    <div class="tab-pane fade show active" id="profile_details" role="tabpanel" aria-labelledby="profile_details-tab"> 

                                                                   
                          <h4>{{default_entity.short_name}}</h4>
                          <table id="example1" class="table table-bordered table-striped">
                           
                            <thead>
                              
                            <tr>
                              <!-- {{default_entity.columns.values}} -->
                              {% for column in columns %}                              
                              <th>{{column}}</th>                               
                              {% endfor %}      
                                                  
                                              
                                                           
                                                        
                            </tr>
                            </thead>
                            <tbody>
                              {% for row in data %}
                              
                              <tr>
                                {% for dt in row %}
                               
                                <td> {{dt.1}}</td>
                                
                                {% endfor %}                              
                              </tr>
                             
                              {% endfor %}  
                            </tbody>
                            
                          </table>
                          
                          <br>
                          <hr>
                          
                          
                         
                          
                      
                        <!-- /.card-body -->
                      
                    </div>
                    <div class="tab-pane fade" id="maps" role="tabpanel" aria-labelledby="maps-tab">
                      <div class="container-fluid"> 
                        <div class="row">
                          <div class="col-12 col-md-12">            
                            <nav class="navbar navbar-expand navbar-light float-right">
                              <!-- Left navbar links -->
                              <ul class="navbar-nav">
                                <li class="nav-item d-none d-sm-inline-block">
                                  <a href="#" class="nav-link"  id="query-btn"><i class="fas fa-question-circle"></i> Advanced Search</a>
                                </li>
                                <li class="nav-item d-none d-sm-inline-block">
                                  <a href="#" class="nav-link" id="full-extent-btn"><i class="fas fa-arrows-alt"></i> Zoom To Full Extent</a>
                                </li>
                              </ul>
                
                              <!-- SEARCH FORM -->
                              <form class="form-inline ml-3">
                                <div class="input-group input-group-sm">
                                  <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                  <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                      <i class="fas fa-search"></i>
                                    </button>
                                  </div>
                                </div>
                              </form>
                            </nav>
                          </div>
                        </div>      
                       <br>
                       <div id="map-sidebar">
                        <div class="map-sidebar-wrapper">
                          <div class="panel panel-default" id="features">
                            <div class="panel-heading">
                              <h3 class="panel-title">Advanced Query
                              <button type="button" class="btn btn-xs btn-default pull-right" id="map-sidebar-hide-btn"><i class="fa fa-chevron-left"></i></button></h3>
                            </div>
                            <div class="panel-body">
                              
                            </div>
                            <div class="map-sidebar-table">
                              <table class="table table-hover" id="feature-list">
                                <thead class="hidden">
                                  <tr>
                                    <th>Icon</th>
                                  <tr>
                                  <tr>
                                    <th>Name</th>
                                  <tr>
                                  <tr>
                                    <th>Chevron</th>
                                  <tr>
                                </thead>
                                <tbody class="list"></tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div id="mapdiv">
                        <div id="mapid" style="height: 70vh; width: auto;box-shadow: 0 0 10px rgba(0,0,0,0.5);"></div>
                      </div>
                      <div id="table-container">
                        <div id="toolbar" style="width: 400px;">
                          <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#filterModal">
                              <i class="fa fa-filter"></i> Filter Data
                            </button>
                            <div class="btn-group">
                              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cloud-download"></i> Export Data <span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu">
                                <li><a href="#" id="download-csv-btn"><i class="fa fa-file-text-o"></i> CSV</a></li>
                                <li><a href="#" id="download-excel-btn"><i class="fa fa-file-excel-o"></i> Excel</a></li>
                                <li><a href="#" id="download-pdf-btn"><i class="fa fa-file-pdf-o"></i> PDF</a></li>
                              </ul>
                            </div>
                          </div>
                          <span id="feature-count" class="text-muted" style="padding-left: 15px;"></span>
                        </div>
                        <table id="table">
                         
                        </table>
                      </div>

                              
                            
                              <!-- /.card -->
                            <!-- /.card -->
                          
                          <!-- /.col -->
                       
                        <!-- /.row -->
                
                        <!-- /.row -->
                      </div><!--/. container-fluid -->
                    </div>
                   
                  </div>
                </div>
                <!-- /.card -->
              </div>
            </div>
            {% if summaries %}
            <div class="card card-primary">
              <div class="card-header"> Chart</div>
              <div class="card-body">
                <div id="strChart" style="height: 40vh;"></div>
              </div>
            </div>
            {% endif %}
            
              <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->

       
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
 
  <script>
    $(function () {
      $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
      });
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false,
        "responsive": true,
      });

    });
  </script>
  
   <!-- <script src="{% static 'js/dashboard.js' %}"></script> -->
 <script type="text/javascript">
 var southWest = L.latLng(-90,-180),
  northEast = L.latLng(90,180);
var bounds = L.latLngBounds(southWest, northEast);



  var googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
     maxZoom: 20,
     subdomains: ['mt0', 'mt1', 'mt2', 'mt3'],
     attribution: 'Map developed by Google'
 });
 
 var googleStreets = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
   maxZoom: 20,
   subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
 });
 
 
 var usgsImagery = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
   maxZoom: 20,
   subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
 });
 var cartoLight = L.tileLayer("https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png", {
   maxZoom: 19,
   attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://cartodb.com/attributions">CartoDB</a>'
 });
 var mymap = L.map("mapid", {
  zoom: 5,
  center: [0.830522, 37.729050],
  layers: [cartoLight],
  maxBounds: bounds,
  minZoom: 6,
  zoomControl: true,
  attributionControl: false
});

 var layerStyle = {
   'default': {
       'color': 'brown',
       'fillOpacity':0.3,
       'opacity': 0.5,
       'weight': 2
   },
   'highlight': {
       'color': 'deepskyblue',
       'fillOpacity':0.3,
       'opacity': 0.5,
       'weight': 2
   }
 };
 
 function onEachFeature(feature, layer) {
 
  if (feature.properties) {
    
    var columnValues = [];
   
    for (column in feature.properties){
        console.log('Started')  
        console.log('Map columns include',column);
        columnValues.push("<tr><th>"+column+"</th><td>" + feature.properties[''+column+''] + "</td></tr>");
        
    }

    layer.on({
      click: function (e) {        
        
        var content = "<table class='table table-striped table-bordered table-condensed'>" + columnValues.join("") + "<table>";
        layer.bindPopup(content).openPopup(e.latlng);
        this.setStyle(layerStyle.highlight);
      }
    });
    layer.on('mouseover', function () {
      this.setStyle(layerStyle.highlight);
    });
    layer.on('mouseout', function () {
      this.setStyle(layerStyle.default);
    });
   
  }

 }


 var layerFeatures = L.geoJSON({{spatial_result | safe}}, {
     style: layerStyle.default,
     onEachFeature: onEachFeature
 }).addTo(mymap);
 
 
 var baseLayers = {
   "Carto Light": cartoLight,
   "Google Streets": googleStreets,
   "Google Hybridy": googleHybrid,
 };
 
 var groupedOverlays = {
   "Spatial Data": {
     "Layer": layerFeatures,
     
   }
 };
 
 var layerControl = L.control.groupedLayers(baseLayers, groupedOverlays).addTo(mymap);
mymap.fitBounds(layerFeatures.getBounds());

// Initialise the FeatureGroup to store editable layers
var selectionFeatures = new L.FeatureGroup();
mymap.addLayer(selectionFeatures);

 var drawPluginOptions = {
  position: 'topleft',
  draw: {
    polygon: {
      allowIntersection: false, // Restricts shapes to simple polygons
      drawError: {
        color: '#e1e100', // Color the shape will turn when intersects
        message: '<strong>Oh snap!<strong> you can\'t draw that!' // Message that will show when intersect
      },
      shapeOptions: {
        color: '#97009c'
      }
    },
    // disable toolbar item by setting it to false
    polyline: false,
    circle: true, // Turns off this drawing tool
    rectangle: true,
    marker: false,
    },

    
};
var drawControl = new L.Control.Draw(drawPluginOptions).addTo(mymap);

mymap.on('draw:created', function(e) {
  selectionFeatures.clearLayers();
  layer = e.layer;  
  selectionFeatures.addLayer(layer);
  SelectFeatures(selectionFeatures);
  
});
function SelectFeatures(layer){
  var intersection = turf.within(layerFeatures, layer.toGeoJSON());
  if(intersection!=undefined){
    var interLayer=L.geoJson(intersection).addTo(mymap);
  }
  alert(intersection.features.length + ' features selected'); 
}


 $("#full-extent-btn").click(function() {
  mymap.fitBounds(layerFeatures.getBounds());
  $(".navbar-collapse.in").collapse("hide");
  return false;

 });
 $("#map-sidebar-toggle-btn").click(function() {
  animateSidebar();
  return false;
});
$("#map-sidebar-hide-btn").click(function() {
  animateSidebar();
  return false;
});
$("#query-btn").click(function() {
  animateSidebar();
  return false;
});

function animateSidebar() {
  $("#map-sidebar").animate({
    width: "toggle"
  }, 350, function() {
    mymap.invalidateSize();
  });
}
 
 </script>

<script>
  $(document).ready(function () {
    $('#profiles').change(function(){        
  $.ajax({
          url: "/api/" + this.value,
          type: 'POST',
          traditional: true,      
          success: function (data) {   
            console.log(data);          
              $('#profile_details').html(data);             
              
          }
      });
});

$("#dynamicDiv").on("click", "li", function() {
    var list_id = $(this).attr('id');
    var profile = $("#profiles :selected").val();
    console.log('Entity',list_id)
    console.log('Profile',profile)
    $.ajax({
          url: profile + "/entity/" + list_id,
          type: 'POST',
          traditional: true,      
          success: function (data) {   
            console.log(data);          
              $('#profile_details').html(data);             
              
          }
      });
    
});



    });

</script>
<script>
  $(document).ready(function () {
    $('#profiles').change(function(){        
      $.ajax({
          url: "/profile/api/" + this.value,
          type: 'POST',
          traditional: true,      
          success: function (data) {   
            console.log(data);          
              $('#dynamicDiv').html(data);
              
              
          }
      });
      $.ajax({
          url: "/api/" + this.value,
          type: 'POST',
          traditional: true,      
          success: function (data) {   
            console.log(data);          
              $('#profile_details').html(data);             
              
          }
      });
      $.ajax({
          url: "/summary/" + this.value,
          type: 'POST',
          traditional: true,      
          success: function (data) {   
            console.log(data);          
              $('#summary').html(data);             
              
          }
      });
});
    });

</script>
<script type="text/javascript">
  $(function () {
      $('#strChart').highcharts({
          chart: {
              type: 'column',
              zoomType: 'x'
          },
          title: {
              text: ''
          },

          xAxis: {
              categories:                
                
              {{charts.name|safe}}
                     
      },

      yAxis: {
          min: 0,
          allowDecimals: false,
          title: {
              text: 'Counts'
          },
          labels: {
              formatter: function () {
                  return  this.value;
              }
          },
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
              '<td style="padding:0"><b>{point.y} </b></td></tr>',
          footerFormat: '</table>',
          shared: false,
          useHTML: true
      },
      plotOptions: {
          pointWidth: 40,
          column: {
              colorByPoint: true
          }
      },
      credits: {
          "enabled": false
      },
      series: [
          {
              showInLegend: false,
              "data": {{charts.count|safe}}
          
          }



      ]
    });
  });
</script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>
<script>
 

function syncTable() {
  tableFeatures = [];
  layerFeatures.eachLayer(function (layer) {
    layer.feature.properties.leaflet_stamp = L.stamp(layer);
    if (mymap.hasLayer(layerFeatures)) {
      if (mymap.getBounds().contains(layer.getBounds())) {
        tableFeatures.push(layer.feature.properties);
      }
    }
  });
  console.log('Features include',tableFeatures);
  $("#table").bootstrapTable("load", JSON.parse(JSON.stringify(tableFeatures)));
  var featureCount = $("#table").bootstrapTable("getData").length;
  if (featureCount == 1) {
    $("#feature-count").html($("#table").bootstrapTable("getData").length + " visible feature");
  } else {
    $("#feature-count").html($("#table").bootstrapTable("getData").length + " visible features");
  }
}
syncTable();
</script>
{% endblock content %}