{% extends "dashboard/base.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block profiler %}
    {% with profiles=profiles %}{{ block.super }}{% endwith %}
{% endblock profiler %}
<!-- Loading entities -->
{% block profiler_entities %}
    {% with entities=entities %}{{ block.super }}{% endwith %}
{% endblock profiler_entities %}
{% block content %}
    <link rel="stylesheet"
          href="{% static 'dashboard/dist/maps/leaflet.groupedlayercontrol.css' %}"/>
    <link rel="stylesheet"
          href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <link rel="stylesheet"
          href="{% static 'dashboard/dist/maps/leaflet.draw.css' %}"/>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid"></div>
            <!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
        <!-- Main content -->
        <section class="content" id="entity-details">
            <div class="container-fluid">
                <div id="summary-sections">
                    <!-- Info boxes -->
                    <div class="row" id="summary">
                        {% if summaries %}
                            {% for summary,counts,type in summaries %}
                                <div class="col-12 col-sm-6 col-md-3">
                                    <div class="info-box">
                                        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>
                                        <div class="info-box-content">
                                            <a href="#" id="{{ type }}"><span class="info-box-text">{{ summary }}</span></a>
                                            <span class="info-box-number">{{ counts }}</span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    {% if str_summary %}
                        <div class="row">
                            <div class="col-12">
                                <!-- Custom Tabs -->
                                <div class="card card-primary card-outline">
                                    <div class="card-header">
                                        <h3 class="card-title">Tenure Type Summary</h3>
                                        <div class="card-tools">
                                            <ul class="nav nav-pills ml-auto p-2">
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="#tab_1" data-toggle="tab">Summary</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#tab_2" data-toggle="tab">Chart</a>
                                                </li>
                                                <li class="nav-item">
                                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="tab_1">
                                                <div class="row">
                                                    {% for summary in str_summary %}
                                                        <div class="col-12 col-sm-6 col-md-3">
                                                            <div class="info-box mb-3">
                                                                <span class="info-box-icon bg-info elevation-1"><i class="fas fa-home"></i></span>
                                                                <div class="info-box-content">
                                                                    <span class="info-box-text">{{ summary.1 }}</span>
                                                                    <span class="info-box-number">{{ summary.0 }}</span>
                                                                </div>
                                                                <!-- /.info-box-content -->
                                                            </div>
                                                            <!-- /.info-box -->
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <!-- /.tab-pane -->
                                            <div class="tab-pane" id="tab_2">
                                                <div id="tenure-chart"  style="height: 30vh;"></div>
                                            </div>
                                            <!-- /.tab-pane -->
                                        </div>
                                        <!-- /.tab-content -->
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- ./card -->
                            </div>
                            <!-- /.col -->
                        </div>
                    {% endif %}
                    <!-- /.row -->
                </div>
                {% if summaries %}
                    <div class="row">
                        <div class="col-12">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h5 class="card-title">Entity Summary</h5>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                            <i class="fas fa-minus"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <button id="column" disabled>Column chart</button>
                                    <button id="bar">Bar chart</button>
                                    <button id="line">Line chart</button>
                                    <button id="spline">Spline chart</button>
                                    <button id="pie">Pie chart</button>
                                    <div id="strChart" style="height: 40vh;"></div>
                                </div>
                            </div>
                            <!-- /.card -->
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                {% endif %}
                <!-- /.row -->
                <!-- /.row -->
            </div>
            <!--/. container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <script src="{% static 'dashboard/plugins/jquery/jquery.min.js' %}"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="{% static 'dashboard/dist/maps/leaflet.groupedlayercontrol.js' %}"></script>
    <script src="{% static 'dashboard/dist/maps/leaflet.draw.js' %}"></script>
    <script src="{% static 'dashboard/dist/maps/spin.min.js' %}"></script>
    <script src="{% static 'dashboard/dist/maps/leaflet.spin.min.js' %}"></script>
    <script src="{% static 'dashboard/dist/js/loadingoverlay.js' %}"></script>
    {% comment %} <script src="https://unpkg.com/@turf/turf@5.1.6/turf.min.js"></script> {% endcomment %}
    <script src='https://unpkg.com/@turf/turf@6.2.0-alpha.1/dist/turf.min.js'></script>
    <script>
  $(document).ready(function () {
  
$("#dynamicDiv").on("click", "li", function() {
    var list_id = $(this).attr('id');
    var profile = $("#profiles :selected").val();
    $('#entity-details').html('<div style="height: 500px;"><div class="loading"></div></div>');
    $.ajax({
          url: profile + "/entity/" + list_id,
          type: 'POST',
          traditional: true, 
          success: function (data) {               
            $('#entity-details').html(data); 
            $('#profile_tab_details').append('<div id="myloader" style="height: 500px;"><div class="loading"></div></div>');
           setTimeout(function(){ 
            document.getElementById('myloader').remove();
             $('#profile_details').show()
            }, 2000);      
          }
          
      });
      
    
});
$("#summary").on("click", "a", function() {
    var list_id = $(this).attr('id');
    var profile = $("#profiles :selected").val();
    console.log('Entity clicked',list_id)
    console.log('Profile',profile)
    $('#entity-details').html('<div style="height: 500px;"><div class="loading"></div></div>');
    $.ajax({
          url: profile + "/entity/" + list_id,
          type: 'POST',
          traditional: true,      
          success: function (data) {               
            $('#entity-details').html(data); 
            $('#profile_tab_details').append('<div id="myloader" style="height: 500px;"><div class="loading"></div></div>');
           setTimeout(function(){ 
            document.getElementById('myloader').remove();
             $('#profile_details').show()
            }, 2000);      
          }
      });
    
});




    });

    </script>
    <script>
  $(document).ready(function () {
    
    $('#profiles').change(function(){        
      $.ajax({
          url: "/profile/api/" + this.value,
          type: 'POST',
          traditional: true,    
          success: function (data) {                       
              $('#dynamicDiv').html(data);            
          }
      });
      $.ajax({
          url: "/api/" + this.value,
          type: 'POST',
          traditional: true,      
          success: function (data) {   
              $('#entity-details').html(data);               
          }
      });
     
    });
    });
</script>
<script> 

$('#stdmdashboard').click(function(){   
    var selected_profile = $("#profiles").val();  
    $.ajax({
        url: "/profile/api/" + selected_profile,
        type: 'POST',
        traditional: true,    
        success: function (data) {                       
            $('#dynamicDiv').html(data);            
        }
    });
    $.ajax({
        url: "/api/" + selected_profile,
        type: 'POST',
        traditional: true,      
        success: function (data) {   
            $('#entity-details').html(data);               
        }
    });
    
});
    
</script>

<script type="text/javascript">
  $(function () {
    Highcharts.setOptions({
        lang: {
            decimalPoint: '.',
            thousandsSep: ','
        }
        });
        $('#tenure-chart').highcharts({
          chart: {
              type: 'column',
              zoomType: 'x'
          },
          title: {
              text: ''
          },

          xAxis: {
              categories:  [{% for x in str_summary %} '{{x.0}}',{% endfor %} ]            
                
              // {{charts.name|safe}}
                     
      },

      yAxis: {
          min: 0,
          allowDecimals: false,
          title: {
              text: 'Number of records'
          },
          labels: {
              formatter: function () {
                  return  this.value;
              }
          },
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
              '<td style="padding:0"><b>{point.y} </b></td></tr>',
          footerFormat: '</table>',
          shared: false,
          useHTML: true
      },
      plotOptions: {
          pointWidth: 40,
          column: {
              colorByPoint: true,
              dataLabels: {
                enabled: true,
                format: '{point.y:,.0f}',
                color: '#777'
            }
          }
      },
      
      credits: {
          "enabled": false
      },
      series: [
          {
              showInLegend: false,
              "data": [{% for x in str_summary %} {{x.1}},{% endfor %} ]  
          
          }



      ]
    });
      $('#strChart').highcharts({
          chart: {
              type: 'column',
              zoomType: 'x'
          },
          title: {
              text: ''
          },

          xAxis: {
              categories:                
                
              {{charts.name|safe}}
                     
      },

      yAxis: {
          min: 0,
          allowDecimals: false,
          title: {
              text: 'Number of records'
          },
          labels: {
              formatter: function () {
                  return  this.value;
              }
          },
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
              '<td style="padding:0"><b>{point.y} </b></td></tr>',
          footerFormat: '</table>',
          shared: false,
          useHTML: true
      },
      plotOptions: {
          pointWidth: 40,
          column: {
              colorByPoint: true,
              dataLabels: {
                enabled: true,
                format: '{point.y:,.0f}',
                color: '#777'
            }
          }
      },
      
      credits: {
          "enabled": false
      },
      series: [
          {
              showInLegend: false,
              "data": {{charts.count|safe}}
          
          }



      ]
    });
    clickedButton = $('#column');
    var chart = $('#strChart').highcharts(),
    checkIfInverted = function(check, nameOfButton) {
      if (check) {
        chart.inverted = !chart.inverted;
        chart.xAxis[0].update({}, false);
        chart.yAxis[0].update({}, false);
      }
    },
    buttonEnabling = function(thisButton) {
      clickedButton.removeAttr('disabled');
      clickedButton = $(thisButton);
      clickedButton.attr('disabled', 'disabled');
    },
    changeTypeOfSeries = function(typ) {
      chart.series.forEach(function(el, inx) {
        el.update({
          type: typ
        });
      });
    };

  $('#column').bind('click', function() {
    checkIfInverted(chart.inverted);
    changeTypeOfSeries('column');
    buttonEnabling(this);
  });

  $('#bar').bind('click', function() {
    checkIfInverted(!chart.inverted);
    changeTypeOfSeries('bar');
    buttonEnabling(this);
  });

  $('#line').bind('click', function() {
    checkIfInverted(chart.inverted);
    changeTypeOfSeries('line');
    buttonEnabling(this);
  });

  $('#spline').bind('click', function() {
    checkIfInverted(chart.inverted);
    changeTypeOfSeries('spline');
    buttonEnabling(this);
  });
  $('#pie').bind('click', function() {
    checkIfInverted(chart.inverted);

    chart.series.forEach(function(series, index) {
      var pieOffset = 1 * 150,
        correctedData = [],
        newName;

      series.points.forEach(function(pt) {
        newName = pt.category;
        correctedData.push([newName, pt.y]);
      });

      series.update({
        type: 'pie',
        data: correctedData,
        showInLegend: true,
        size: '100%',
        center: [pieOffset + 50, null],
        dataLabels: {
          distance: -10
        }
      });
    });

    buttonEnabling(this);
  });

  });
    </script>
{% endblock content %}
