{% load static %}
{% with data=data city_profiles=city_profiles %}
    {% if data %}
    <div class="card-header p-0 border-bottom-0" id="changing-tabs">
        <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active"
                id="city_profiles"
                data-toggle="pill"
                href="#city_details"
                role="tab"
                aria-controls="city_details"
                aria-selected="true">City Profiles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"
                id="submits"
                data-toggle="pill"
                href="#submissions"
                role="tab"
                aria-controls="submissions"
                aria-selected="true">Table View</a>
            </li>
        </ul>
    </div>
     <div class="tab-content" id="custom-tabs-four-tabContent">
     <div class="tab-pane fade show active" role="tabpanel" id="city_details" aria-labelledby="city_profiles">
        <div class="row">
          <div class="col-md-12">
          {% regroup data by Name_of_the_city as cities %}
            {% for city in cities %} 
            
              <div class="card collapsed-card">
                 <br>
                  <div class="card-header">
                    <h2 class="card-title" data-card-widget="collapse">{{city.grouper}}</h2>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>    
                </div>
                  <div class="card-body">
                  <div class="row">
                  {% for profile in city_profiles %}
                  {% if profile.Name == city.grouper %}
                   <div class="col-md-4">
                      <ul class="list-group list-group-unbordered mb-3">
                          
                          <li class="list-group-item">
                              <b>No of Settlement:</b> <a class="float-right">{{profile.Settlement_Count}}</a>
                          </li>
                          
                          
                              <li class="list-group-item">
                                  <b>Settlement Total Areas:</b> <a class="float-right">{{profile.Total_Settlement_Area}} Sq.KM</a>
                              </li>
                          
                          
                              <li class="list-group-item">
                                  <b>Total Families/Households:</b> <a class="float-right">{{profile.Number_of_Households}}</a>
                              </li>
                          
                          
                              <li class="list-group-item">
                                  <b>Average Household Size:</b> <a class="float-right">{{profile.Average_household_size}}</a>
                              </li>
                          
                          
                        
                             
                          
                          
                      </ul>
                    </div>
                    <div class="col-md-6">
                     <ul class="list-group list-group-unbordered mb-3">                     
                              <li class="list-group-item">
                                  <b>Major Tenure Challenges:</b> <a class="float-right">{% for service in profile.Major_Tenure_Challenges %}{{service|linebreaksbr}}{% endfor %}</a>
                              </li>
                              <li class="list-group-item">
                                  <b>Public Services Available:</b> <a class="float-right">{% for service in profile.Public_Services %}{{service|linebreaksbr}}{% endfor %}</a>
                              </li>                          
                            
                             
                     </ul>

                    </div>
                    {% endif %}
                    {% endfor %}
                    <table id="koboTable_{{ city.grouper|cut:' ' }}" class="table table-bordered table-striped" style="cursor:pointer;">
                      <thead>
                          <tr>
                              {% for col in columns %}<th id='{{ col|cut:" " }}'>{{ col }}</th>{% endfor %}
                          </tr>
                      </thead>
                      <tbody>
                        {% for dt in city.list %} 
                                                 
                            <tr>
                                {% for value in dt.values %}
                                  <td>{{ value|linebreaksbr }}</td>
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                  </table>
                    </div>
                  </div>
              </div>
            {% endfor %}
              
          </div>
        </div>
        
        </div>
          <div class="tab-pane fade show" role="tabpanel" id="submissions" aria-labelledby="submits">
              <div class="card">
                <div class="card-header">
                    <h3 class="card-title">All Submissions</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
              <div class="card-body">
              <table id="koboTable" class="table table-bordered table-striped" style="cursor:pointer;">
                  <thead>
                      <tr>
                          {% for col in columns %}<th id='{{ col|cut:" " }}'>{{ col }}</th>{% endfor %}
                      </tr>
                  </thead>
                  <tbody>
                    {% for rec in data %}
                        <tr>
                            {% for ky, val in rec.items %}<td>{{ val|linebreaksbr }}</td>{% endfor %}
                        </tr>
                    {% endfor %}
                  </tbody>
              </table>
                  
                  
              </div>
          </div>
          <div>
      </div>
        
    {% else %}
        <h4>Submissions</h4>
        <p>
            No submissions available!
        {% endif %}
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
         <script type="text/javascript">
        
    var today = new Date().toISOString().slice(0, 10)
   
    var dataTableSet = $("#koboTable").DataTable({
      "scrollY": 400,
      "searching": true,
      hideEmptyCols: true,
      mark: true,
      scrollX: "100%",
      processing: true,
      "destroy": true,
      dom: 'Blfrtip',
      select: {
        style: 'single'
      },
      order: [[2, 'asc'],[0, 'desc']],
      buttons: [
        {
          extend: 'excelHtml5',
          text: '<i class="fa fa-file-excel-o"> Export to Excel</i>',
          titleAttr: 'Excel',
          title: 'Excel_Export_' + today,
          exportOptions: {
            columns: ':visible'
          },
        },
        {
          extend: 'csvHtml5',
          text: '<i class="fa fa-file-text-o"> Export to CSV</i>',
          titleAttr: 'CSV',
          title: 'CSV_Export_' + today,
          exportOptions: {
            columns: ':visible'
          },
        },
        {
          extend: 'pdfHtml5',
          text: '<i class="fa fa-file-pdf-o"> Export to PDF</i>',
          titleAttr: 'PDF',
          title: 'PDF_Export_' + today,
          orientation: 'landscape',
          pageSize: 'A0',
        }
      ],
     
    });
    
    $('#koboTable tbody').on('click', 'tr', function () {
      var data_row = dataTableSet.row(this).data();      
      var column = dataTableSet.column('DateOfProfiling:name').data();
      var settlement = data_row[2]
      data_load = {
        'date_of_profiling': data_row[0],
        'city': data_row[1],
        'settlement': data_row[2],
        'ward': data_row[3],
        'type_of_settlement': data_row[4],
        'year_occupation': data_row[5],
        'reason_occupation': data_row[6],        
        'risk_level': data_row[7],
        'total_area': data_row[8],
        'renting_population': data_row[9],
        'structure_owners': data_row[10],
        'govt_owned': data_row[11],
        'most_de_es': data_row[12],
        'tenure_challenges': data_row[13],
        'household_number': data_row[14],
        'total_population': data_row[15],
        'males': data_row[16],
        'females': data_row[17],   
        'location': data_row[18],
        'major_problems': data_row[19],
        'development_projects':data_row[20],
        'priorities_identified':data_row[21],
        'services_in_settlement':data_row[22],
        'major_source_of_income': data_row[23],
        'income_levels_per_month':data_row[24],
        'saving_schemes_available':data_row[25],
        'expenditure_item_per_month':data_row[26],
        'common_health_facilities':data_row[27],
        'cases_of_covid19':data_row[28],
        'reported_cases':data_row[29],
      }
      $.ajax({
        url: '/mobile/kobo/submissions/visualization',
        data: { 'data': JSON.stringify(data_load) },
        traditional: true,
        success: function (json) {
          $('#subSummaries').css('display', 'block');
          $('#subSummaries').html(json);
          document.getElementById('subSummaries').scrollIntoView({
            behavior: 'smooth'
          });

        },

      })


    });
    
    </script>

{% for city in city_profiles %}
    <script type="text/javascript">        
      var today = new Date().toISOString().slice(0, 10)
      
      console.log('These are cities', '{{city.Name}}');
      var table_name;
      table_name = $("#koboTable_{{city.Name|cut:' '}}").DataTable({
        "scrollY": 400,
        "searching": true,
        hideEmptyCols: true,
        mark: true,
        scrollX: "100%",
        processing: true,
        "destroy": true,
        dom: 'Blfrtip',
        select: {
          style: 'single'
        },
        order: [[2, 'asc'],[0, 'desc']],
        buttons: [
          {
            extend: 'excelHtml5',
            text: '<i class="fa fa-file-excel-o"> Export to Excel</i>',
            titleAttr: 'Excel',
            title: 'Excel_Export_' + today,
            exportOptions: {
              columns: ':visible'
            },
          },
          {
            extend: 'csvHtml5',
            text: '<i class="fa fa-file-text-o"> Export to CSV</i>',
            titleAttr: 'CSV',
            title: 'CSV_Export_' + today,
            exportOptions: {
              columns: ':visible'
            },
          },
          {
            extend: 'pdfHtml5',
            text: '<i class="fa fa-file-pdf-o"> Export to PDF</i>',
            titleAttr: 'PDF',
            title: 'PDF_Export_' + today,
            orientation: 'landscape',
            pageSize: 'A0',
          }
        ],
      
      });
      
      $('#koboTable_{{city.Name|cut:' '}} tbody').on('click', 'tr', function () {
        var data_row = table_name.row(this).data();      
        var column = table_name.column('DateOfProfiling:name').data();
        var settlement = data_row[2]
        data_load = {
          'date_of_profiling': data_row[0],
          'city': data_row[1],
          'settlement': data_row[2],
          'ward': data_row[3],
          'type_of_settlement': data_row[4],
          'year_occupation': data_row[5],
          'reason_occupation': data_row[6],        
          'risk_level': data_row[7],
          'total_area': data_row[8],
          'renting_population': data_row[9],
          'structure_owners': data_row[10],
          'govt_owned': data_row[11],
          'most_de_es': data_row[12],
          'tenure_challenges': data_row[13],
          'household_number': data_row[14],
          'total_population': data_row[15],
          'males': data_row[16],
          'females': data_row[17],   
          'location': data_row[18],
          'major_problems': data_row[19],
          'development_projects':data_row[20],
          'priorities_identified':data_row[21],
          'services_in_settlement':data_row[22],
          'major_source_of_income': data_row[23],
          'income_levels_per_month':data_row[24],
          'saving_schemes_available':data_row[25],
          'expenditure_item_per_month':data_row[26],
          'common_health_facilities':data_row[27],
          'cases_of_covid19':data_row[28],
          'reported_cases':data_row[29],
        }
        $.ajax({
          url: '/mobile/kobo/submissions/visualization',
          data: { 'data': JSON.stringify(data_load) },
          traditional: true,
          success: function (json) {
            $('#subSummaries').css('display', 'block');
            $('#subSummaries').html(json);
            document.getElementById('subSummaries').scrollIntoView({
              behavior: 'smooth'
            });

          },

        })


      });
      
    </script>
 {% endfor %}
    {% endwith %}
