{% load static %}
{% with data=data %}
{% if data %}
<h4> Submissions</h4>

<table id="koboTable" class="table table-bordered table-striped" style="width:100%;cursor:pointer;">
  <thead>
    <tr>
      {% for col in columns %}
      <th id='{{col|cut:" "}}'>{{col}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for key,values in data.items %}
    <tr>

      {% for ky, val in values.items %}
      <td>{{val}}</td>
      {% endfor %}

    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<h4> Submissions</h4>
<p>No submissions available!
  {% endif %}

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
    integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
  <script>
    var today = new Date().toISOString().slice(0, 10)
    var dataTableSet;
    dataTableSet = $("#koboTable").DataTable({
      "scrollY": 400,
      "searching": true,
      hideEmptyCols: true,
      mark: true,
      scrollX: "100%",
      processing: true,
      "destroy": true,
      dom: 'Blfrtip',
      select: {
        style: 'single'
      },
      buttons: [
        {
          extend: 'excelHtml5',
          text: '<i class="fa fa-file-excel-o"> Export to Excel</i>',
          titleAttr: 'Excel',
          title: '_Excel_Export_' + today,
          exportOptions: {
            columns: ':visible'
          },
        },
        {
          extend: 'csvHtml5',
          text: '<i class="fa fa-file-text-o"> Export to CSV</i>',
          titleAttr: 'CSV',
          title: '_CSV_Export_' + today,
          exportOptions: {
            columns: ':visible'
          },
        },
        {
          extend: 'pdfHtml5',
          text: '<i class="fa fa-file-pdf-o"> Export to PDF</i>',
          titleAttr: 'PDF',
          title: '_PDF_Export_' + today,
          orientation: 'landscape',
          pageSize: 'LEGAL',
          exportOptions: {
            columns: ':visible'
          },
        }
      ],
    });
    $('#koboTable tbody').on('click', 'tr', function () {
      var data_row = dataTableSet.row(this).data();
      var column = dataTableSet.column('#DateOfProfiling');
      console.log('This is data row', data_row)
      var settlement = data_row[2]
      data_load = {
        'date_of_profiling': data_row[0],
        'city': data_row[1],
        'settlement': data_row[2],
        'ward': data_row[3],
        'type_of_settlement': data_row[4],
        'year_occupation': data_row[5],
        'reason_occupation': data_row[6],
        'location': data_row[7],
        'risk_level': data_row[8],
        'total_area': data_row[9],
        'household_number': data_row[10],
        'total_population': data_row[11],
        'males': data_row[12],
        'females': data_row[13],
        'govt_owned': data_row[14],
        'tenure_challenges': data_row[15],
        'renting_population': data_row[16],
        'structure_owners': data_row[17],
        'most_de_es': data_row[18]
      }
      $.ajax({
        url: '/mobile/kobo/submissions/visualization',
        data: { 'data': JSON.stringify(data_load) },
        traditional: true,
        success: function (json) {
          $('#subSummaries').css('display', 'block');
          $('#subSummaries').html(json);

        },

      })


    });
  </script>
  <!-- <script>
    $(document).ready(function () {
      $('#koboTable').on('shown.bs.collapse', function () {
        $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
      });
    });
  </script> -->
  {% endwith %}