{% extends "dashboard/base_mobile.html"%}
{% load static %}
{% block title %}Dashboard {% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'dashboard/dist/maps/leaflet.groupedlayercontrol.css' %}" />
<script src="{% static 'dashboard/plugins/jquery/jquery.min.js' %}"></script> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<script src="{% static 'dashboard/dist/maps/leaflet.groupedlayercontrol.js' %}"></script>
<link rel="stylesheet" href="{% static 'dashboard/dist/maps/leaflet.draw.css' %}" />
<script src="{% static 'dashboard/dist/maps/leaflet.draw.js' %}"></script>
<script src="{% static 'dashboard/dist/maps/spin.min.js' %}"></script>
<script src="{% static 'dashboard/dist/maps/leaflet.spin.min.js' %}"></script>
<script src="{% static 'dashboard/dist/js/loadingoverlay.js' %}"></script>
<script src="https://unpkg.com/@turf/turf@5.1.6/turf.min.js"></script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
     
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">        
        <div class="row">
          <div class="col-md-12">
            <div class="col-12 col-sm-12">
              <div class="card card-primary card-outline card-outline-tabs">
                <div class="card-header p-0 border-bottom-0" id="changing-tabs">
                  <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="profile_details-tab" data-toggle="pill" href="#profile_tab_details" role="tab" aria-controls="profile_tab_details" aria-selected="true">KoboData Settings</a>
                    </li>                   
                    
                    <li class="nav-item">
                      <a class="nav-link" id="sum-tab" data-toggle="pill" href="#sum" role="tab" aria-controls="sum" aria-selected="false" style="display:none">Summaries</a>
                    </li>
                     
                  </ul>
                </div>
                <div class="card-body">                  
                  
                  <div class="tab-content" id="custom-tabs-four-tabContent">
                    <div class="tab-pane fade show active" role="tabpanel" id="profile_tab_details" aria-labelledby="profile_details-tab"> 
                      <div class="card card-primary"  id="profile_details" style="display: block; width: 100%;">
                        <h4>{{entity.ui_display}}</h4>
                        <form class="row g-3" id="koboform">
                          <div class="col-md-8">
                            <label for="validationDefault01" class="form-label">KPI-URL</label>
                            <input type="text" class="form-control" id="kpiurl" required>
                          </div>
                          <div class="col-md-8">
                            <label for="validationDefault02" class="form-label">Server Token</label>
                            <input type="text" class="form-control" id="token" required>
                          </div>
                      
                          <div class="col-md-8">
                            <label for="validationDefault03" class="form-label">Asset ID</label>
                            <input type="text" class="form-control" id="asset" required>
                          </div>
                          <div class="col-md-8">
                            <hr>
                          </div>
                         
                          <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                          </div>
                        </form>
                       
                      


                        </div> 
                                           
                    </div>
                 
                    <div class="tab-pane fade" id="sum" role="tabpanel" aria-labelledby="sum-tab">
                      <div class="container-fluid"> 
                        <div class="row">
                          <h4>{{entity.ui_display}}</h4>
                          <hr>                        
                         
                          <div class="col-12">
                          <div class="card card-primary card-outline">
                            <div class="card-header d-flex p-0">
                              <h3 class="card-title p-3">Submission List</h3>
                              
                            </div><!-- /.card-header -->
                            <div class="card-body" id="koboData">
                              
                            </div><!-- /.card-body -->
                          </div>
                        </div>
                        </div>
                      </div>
                    </div>
                    
                   
                  </div>
                </div>
                <!-- /.card -->
              </div>
            </div>
           
            
              <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        
        <!-- /.row -->

       
        <!-- /.row -->
      </div><!--
      
       
    

       
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>

  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
  
  $("#koboform").on("submit", "li", function() {
      var list_id = $(this).attr('id');
      var profile = $("#profiles :selected").val();
      console.log('Entity',list_id)
      console.log('Profile',profile)
      kpi = $("#kpiurl").val();
      token =$("#token").val();
      formid =$("#asset").val();
      $.ajax({
            url: 'kobo/data/' + kpi + '/' + token + '/' + formid,
            type: 'POST',
            traditional: true,      
            success: function (data) { 
                $('#koboData').html(data);             
                
            }
        });
      
  });
  
  
  
  
      });
  
  </script>


{% endblock content %}