{% if entity_columns_list %}
<div class="form-group">
{% for column in entity_columns_list %}
    <div class="checkbox">
        <label>
            <div class="row">
            <div class="col-md-6">
                <input type="checkbox" id="{{column}}">{{column}}
            </div>
            <div class="col-md-6">
                <select class="form-control" id="tableselectOpt{{column}}">
                    <option>----</option>
                </select>
            </div>
        </div>
        
      
        </label>
    </div>
{% endfor %}
</div>
{% else %}
<li class="nav-item"><p style="color: white;">No columns Available!</p></li>
{% endif %}