{% if entity_columns_list %}
<table id="entity_column_table" class="table table-bordered table-striped" style="width: 100%;cursor:pointer">

<thead>
    <th>Data Type</th>
    <th>Entity Columns</th>
    <th>Table Columns</th>
</thead>
<tbody>
{% for column in entity_columns_list %}
<tr>
    <th id="{{column.data_type}}">{{column.data_type}}</th>
    <th id="{{column.column_name}}" >{{column.column_name}}</th>
    <th id="tableselectHead{{column}}">  
        <select class="form-control" name="DBColumns" id="tableselectOpt{{column.column_name}}">
            <option>-----</option>
        </select>
    </th>
</tr>

{% endfor %}
</tbody>                       
</table>
{% else %}
<li class="nav-item"><p style="color: white;">No columns Available!</p></li>
{% endif %}