{% extends "dashboard/base_mobile.html"%}
{% load static %}
{% block title %}Dashboard {% endblock %}
{% block profiler %}
{% with profiles=profiles %}
  {{ block.super }}
{% endwith %}
{% endblock profiler %}
<!-- Loading entities -->
{% block mobile_entities %}
{% with entities=m_entities %}
  {{ block.super }}
{% endwith %}
{% endblock mobile_entities %}
{% block content %}
<link rel="stylesheet" href="{% static 'dashboard/dist/maps/leaflet.groupedlayercontrol.css' %}" />
<script src="{% static 'dashboard/plugins/jquery/jquery.min.js' %}"></script> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

<script src="{% static 'dashboard/dist/maps/leaflet.groupedlayercontrol.js' %}"></script>
<link rel="stylesheet" href="{% static 'dashboard/dist/maps/leaflet.draw.css' %}" />
<script src="{% static 'dashboard/dist/maps/leaflet.draw.js' %}"></script>
<script src="{% static 'dashboard/dist/maps/spin.min.js' %}"></script>
<script src="{% static 'dashboard/dist/maps/leaflet.spin.min.js' %}"></script>
<script src="{% static 'dashboard/dist/js/loadingoverlay.js' %}"></script>
<script src="https://unpkg.com/@turf/turf@5.1.6/turf.min.js"></script>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
     
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
      
      {% if summaries %}
        <div class="row">
          <div class="col-12">
              <div class="card card-primary card-outline">
                <div class="card-header"> <h4>Data Sync Section</h4></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-primary card-outline">
                              <div class="card-header"> <h4>Mobile Entities</h4></div>
                                <div class="card-body">                                    
                                    <div class="form-group">
                                      <label>Select Entity:</label>
                                      <select class="form-control" id="entityselect">
                                        <option>------</option>
                                        {% for summary,counts in summaries %}
                                        <option>{{summary}}</option>
                                        {% endfor %}
                            
                                      </select>
                                    </div>
                                   
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-md-6">
                          <div class="card card-primary card-outline">
                            <div class="card-header"> <h4>Target Tables</h4></div>
                              <div class="card-body">
                                  
                                  <div class="form-group">
                                    <label>Select Table:</label>
                                    <select class="form-control" id="tableselect">
                                      <option>------</option>
                                      {% for summary,counts in summaries %}
                                      <option>{{summary}}</option>
                                      {% endfor %}
                          
                                    </select>
                                  </div>
                              </div>
                          </div>
                        </div>
                       
                    </div>
                    <div class="row" id="columnResults">

                    </div>
                    <hr>
                    <a href="#" class="btn btn-success" id="sync">Sync Data</a>
                
               
                  
                </div>
               
              </div>
        
              <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        {% endif %}
        <!-- /.row -->

       
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>


<script>
  $(document).ready(function () {

$("#mobile_entity_div").on("click", "li", function() {
    var list_id = $(this).attr('id');
    var profile = $("#profiles :selected").val();
    console.log('Entity',list_id)
    console.log('Profile',profile)
    // var sendUrl = '{% url "mobile_entity_detail" profile_name=0 name=1 %}'.replace('0',profile).replace('1',list_id)
    $.ajax({
          url: 'details/' + profile + '/' + list_id,
          type: 'POST',
          traditional: true,      
          success: function (data) { 
              $('#mobile-data').html(data);             
              
          }
      });
    
});




    });

</script>

<script>
  $(document).ready(function () {
    
    $('#entityselect').change(function(){   
      var profile = $("#profiles :selected").val();     
      $.ajax({
          url: "entities/"+profile+ "/" + this.value,
          type: 'GET',
          traditional: true,    
          success: function (data) {   
            console.log(data);          
              $('#columnResults').html(data);
              
              
          }
      });
      $.ajax({
          url: "entities/KOPGT/",
          type: 'GET',
          traditional: true,      
          success: function (data) {   
            console.log('Hiii data');  
            console.log(data);  
            $('#tableselect').empty()
            $('#tableselect').append('<option>-----</option>')
            for (d in data){              
              $('#tableselect').append('<option value="' + data[d] + '">' + data[d] + '</option>');
            }
                        
              
          }
      });
     
    });
    $('#tableselect').change(function(){   
      $.ajax({
          url: "/tables/" + $(this).val(),
          type: 'GET',
          traditional: true,    
          success: function (data) {   
            console.log(data);
            $("[name='DBColumns']").empty()
            
            var options = $("select[name='DBColumns']");
            options.append('<option>-----</option>')
            for (d in data){              
              options.append(new Option(data[d]));
            }
          
          }
      });

});

    });

</script>

<script type="text/javascript">
  $(function () {
    Highcharts.setOptions({
        lang: {
            decimalPoint: '.',
            thousandsSep: ','
        }
        });
        $('#tenure-chart').highcharts({
          chart: {
              type: 'column',
              zoomType: 'x'
          },
          title: {
              text: ''
          },

          xAxis: {
              categories:  [{% for x in str_summary %} '{{x.1}}',{% endfor %} ]            
                
              // {{charts.name|safe}}
                     
      },

      yAxis: {
          min: 0,
          allowDecimals: false,
          title: {
              text: 'Number of records'
          },
          labels: {
              formatter: function () {
                  return  this.value;
              }
          },
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
              '<td style="padding:0"><b>{point.y} </b></td></tr>',
          footerFormat: '</table>',
          shared: false,
          useHTML: true
      },
      plotOptions: {
          pointWidth: 40,
          column: {
              colorByPoint: true,
              dataLabels: {
                enabled: true,
                format: '{point.y:,.0f}',
                color: '#777'
            }
          }
      },
      
      credits: {
          "enabled": false
      },
      series: [
          {
              showInLegend: false,
              "data": [{% for x in str_summary %} {{x.0}},{% endfor %} ]  
          
          }



      ]
    });
      $('#strChart').highcharts({
          chart: {
              type: 'column',
              zoomType: 'x'
          },
          title: {
              text: ''
          },

          xAxis: {
              categories:                
                
              {{charts.name|safe}}
                     
      },

      yAxis: {
          min: 0,
          allowDecimals: false,
          title: {
              text: 'Number of records'
          },
          labels: {
              formatter: function () {
                  return  this.value;
              }
          },
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0"></td>' +
              '<td style="padding:0"><b>{point.y} </b></td></tr>',
          footerFormat: '</table>',
          shared: false,
          useHTML: true
      },
      plotOptions: {
          pointWidth: 40,
          column: {
              colorByPoint: true,
              dataLabels: {
                enabled: true,
                format: '{point.y:,.0f}',
                color: '#777'
            }
          }
      },
      
      credits: {
          "enabled": false
      },
      series: [
          {
              showInLegend: false,
              "data": {{charts.count|safe}}
          
          }



      ]
    });
    clickedButton = $('#column');
    var chart = $('#strChart').highcharts(),
    checkIfInverted = function(check, nameOfButton) {
      if (check) {
        chart.inverted = !chart.inverted;
        chart.xAxis[0].update({}, false);
        chart.yAxis[0].update({}, false);
      }
    },
    buttonEnabling = function(thisButton) {
      clickedButton.removeAttr('disabled');
      clickedButton = $(thisButton);
      clickedButton.attr('disabled', 'disabled');
    },
    changeTypeOfSeries = function(typ) {
      chart.series.forEach(function(el, inx) {
        el.update({
          type: typ
        });
      });
    };

  $('#column').bind('click', function() {
    checkIfInverted(chart.inverted);
    changeTypeOfSeries('column');
    buttonEnabling(this);
  });

  $('#bar').bind('click', function() {
    checkIfInverted(!chart.inverted);
    changeTypeOfSeries('bar');
    buttonEnabling(this);
  });

  $('#line').bind('click', function() {
    checkIfInverted(chart.inverted);
    changeTypeOfSeries('line');
    buttonEnabling(this);
  });

  $('#spline').bind('click', function() {
    checkIfInverted(chart.inverted);
    changeTypeOfSeries('spline');
    buttonEnabling(this);
  });
  $('#pie').bind('click', function() {
    checkIfInverted(chart.inverted);

    chart.series.forEach(function(series, index) {
      var pieOffset = 1 * 150,
        correctedData = [],
        newName;

      series.points.forEach(function(pt) {
        newName = pt.category;
        correctedData.push([newName, pt.y]);
      });

      series.update({
        type: 'pie',
        data: correctedData,
        showInLegend: true,
        size: '100%',
        center: [pieOffset + 50, null],
        dataLabels: {
          distance: -10
        }
      });
    });

    buttonEnabling(this);
  });

  });
</script>
<script>
  $(document).ready(function() {
    $('#sync').click(function(){
      var profile = $("#profiles :selected").val(); 
      var table = document.getElementById("entity_column_table");
      var source_table = $("#entityselect :selected").val(); 
      console.log('Source table',source_table)
      var destination_table = $("#tableselect :selected").val(); 
      var table_data = {};
      for (var i = 1, row; row = table.rows[i]; i++) {
        source_entity_column = row.cells[0].innerText
        select_id = "tableselectOpt" + row.cells[0].innerText
        selected_target_field = $("#"+select_id).val(); 
        if (selected_target_field !== '-----'){
          table_data[source_entity_column] = selected_target_field;
        }
        
      }
      console.log('This is output', table_data)
      $.ajax({
          url: "/mobile/data/sync/",
          type: 'POST',
          traditional: true,  
          data: { 'source_table': source_table, 'mobile_profile':profile,'target_table':destination_table, 'data_fields': JSON.stringify(table_data)},  
          success: function (data) {   
            console.log(data);
           alert('Data synched succssefully')
          
          }
      });
 

    });
});
</script>

{% endblock content %}