 {% load static %}
 <!-- DataTables -->
 <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
<script src="{% static 'dashboard/plugins/jquery/jquery.min.js' %}"></script> -->
<!-- DataTables -->
<!-- <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script> -->
<script>
  $(function () {
 if ({{has_spatial_column}}){

       document.getElementById('maps-tab').style.display = "block";
       // $('#maps-tab').style.display = "block";
     }
 else{
   document.getElementById('maps-tab').style.display = "none";
 }
console.log('Lengths',Object.keys({{lookup_summaries}}).length)
console.log('Keys',Object.keys({{lookup_summaries}}))
 if (Object.keys({{lookup_summaries}}).length !== 0 && {{lookup_summaries}}.constructor === Object;){

  document.getElementById('sum-tab').style.display = "block";
  console.log('Naelewa');
  // $('#sum-tab').style.display = "block";
  }
  else{
  document.getElementById('sum-tab').style.display = "none";
  console.log('Ata mimim sielewi');
  }
   });
</script>
<div class="card-header"> <h4>{{default_entity.ui_display}}</h4></div>
<div class="card-body"> 

<table id="example2" class="table table-bordered table-striped" style="width:100%">
  
  <thead>

<tr>
    {% for column in columns %}   
    <th>{{column}}</th>                                         
    {% endfor %} 
    {% if is_party_entity %} 
    <th>Action</th>    
    {% endif %} 
                        
</tr>

</thead>

<tbody>
  {% for row in data %}
                              
  <tr>
    {% for dt in row %}   
    <td> {{dt.1}}</td>   
    {% endfor %}
    {% if is_party_entity %} 
    <td><a href="{% url 'fetchstr' profile_name=profile entity_short_name=default_entity.short_name id=8 %}">View More</a></td> 
    {% endif %}                        
  </tr>
 
  {% endfor %}    
</tbody>

</table>
</div>
<script>
    $(function () {
    //   $("#example2").DataTable({
    //     "responsive": true,
    //     "autoWidth": true,
    //   });
      $('#example2').DataTable( {
        dom: 'Bfrtip',
       
        buttons: [
            'copy', 'csv', 'excel', 'pdf'
        ],
        "scrollY": 200,
        "destroy": true,
        "searching": true,
        mark: true,
        scrollX:        true,
        scrollCollapse: true,
        language: {
          processing: '<i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>'
        },
        columnDefs: [
            { width: '20%', targets: 0 }
        ],

      });
      
    });
</script>
