<h4>{{default_entity.short_name}}</h4>
<table id="example1" class="table table-bordered table-striped">
<thead>
    
<tr>
    {% for column in default_entity.columns.values %}
    {% if column.header != "Id" %}
    <th>{{column.header}}</th> 
    {% endif %}                             
    {% endfor %}                              
</tr>
</thead>
<tbody>
    {% for row in data %}
    <tr>
    {% for dt in row %}
    <td>{{dt}}</td>  
    {% endfor %}                              
    </tr>
    {% endfor %}  
</tbody>

</tfoot>
</table>