{% if summaries %}
<div class="row" id="summary">
{% for summary,counts in summaries|slice:":3"  %}
{% if forloop.first %}                   
<div class="col-12 col-sm-6 col-md-3">
<div class="info-box">              
    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>

    <div class="info-box-content">
    <span class="info-box-text">{{summary}} (Party)</span>
    <span class="info-box-number">{{counts}}</span>
    
        
    </span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>
{% elif forloop.counter == 2 %}
<div class="col-12 col-sm-6 col-md-3">
<div class="info-box">              
    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-map"></i></span>

    <div class="info-box-content">
    <span class="info-box-text">{{summary}} (Spatial Unit)</span>
    <span class="info-box-number">{{counts}}</span>
    
        
    </span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>
{% else %}
<div class="col-12 col-sm-6 col-md-3">
<div class="info-box">              
    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

    <div class="info-box-content">
    <span class="info-box-text">{{summary}}</span>
    <span class="info-box-number">{{counts}}</span>
    
        
    </span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>
{% endif %}
{% endfor %}
</div>
{% endif %}
{% if str_summary %}
<div class="row">
    <div class="col-12">
      <!-- Custom Tabs -->
      <div class="card">
        <div class="card-header d-flex p-0">
          <h3 class="card-title p-3">Tenure Summary</h3>
          <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item"><a class="nav-link active" href="#tab_1" data-toggle="tab">Summary</a></li>
            <li class="nav-item"><a class="nav-link" href="#tab_2" data-toggle="tab">Chart</a></li>
            
          </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
              <div class="row">                
                {% for summary in str_summary %}
                <div class="col-12 col-sm-6 col-md-3">
                  <div class="info-box mb-3">
                    <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>                
                    <div class="info-box-content">
                      <span class="info-box-text">{{summary.1}}</span>
                      <span class="info-box-number">{{summary.0}}</span>
                    </div>
                    <!-- /.info-box-content -->
                  </div>
                  <!-- /.info-box -->
                </div>                                    
                  {% endfor %}   
                </div> 
            </div>
            <!-- /.tab-pane -->
            <div class="tab-pane" id="tab_2">
              <div id="tenure-chart"  style="height: 30vh;"></div>
            </div>
            <!-- /.tab-pane -->
           
          </div>
          <!-- /.tab-content -->
        </div><!-- /.card-body -->
      </div>
      <!-- ./card -->
    </div>
    <!-- /.col -->
  </div>
{% endif %}
