{% if summaries %}
<div class="row" id="summary">
{% for summary,counts in summaries|slice:":3"  %}
{% if forloop.first %}                   
<div class="col-12 col-sm-6 col-md-3">
<div class="info-box">              
    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>

    <div class="info-box-content">
    <span class="info-box-text">{{summary}} (Party)</span>
    <span class="info-box-number">{{counts}}</span>
    
        
    </span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>
{% elif forloop.counter == 2 %}
<div class="col-12 col-sm-6 col-md-3">
<div class="info-box">              
    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-map"></i></span>

    <div class="info-box-content">
    <span class="info-box-text">{{summary}} (Spatial Unit)</span>
    <span class="info-box-number">{{counts}}</span>
    
        
    </span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>
{% else %}
<div class="col-12 col-sm-6 col-md-3">
<div class="info-box">              
    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cog"></i></span>

    <div class="info-box-content">
    <span class="info-box-text">{{summary}}</span>
    <span class="info-box-number">{{counts}}</span>
    
        
    </span>
    </div>
    <!-- /.info-box-content -->
</div>
<!-- /.info-box -->
</div>
{% endif %}
{% endfor %}
</div>
{% endif %}
{% if str_summary %}
        
<div class="row" id="str_summary">
  <!-- Custom tabs (Charts with tabs)-->
 
   <div class="card">
    <div class="card-header">
      <h3 class="card-title">
        <i class="fas fa-chart-bar mr-1"></i>
        Tenure Summary
      </h3>
      <div class="card-tools">
        <ul class="nav nav-pills ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#summary-section" data-toggle="tab">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#str-chart" data-toggle="tab">Chart</a>
          </li>
        </ul>
      </div>
    </div><!-- /.card-header -->
    <div class="card-body">
      <div class="tab-content p-0">
        <!-- Morris chart - Sales -->
        <div class="chart tab-pane active" id="summary-section"> 
          <div class="row">                
          {% for summary in str_summary %}
          <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>                
              <div class="info-box-content">
                <span class="info-box-text">{{summary.1}}</span>
                <span class="info-box-number">{{summary.0}}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>                                    
            {% endfor %}   
          </div>                  
         </div>
        <div class="chart tab-pane" id="str-chart" style="position: relative; height: 40vh;">
          <div id="tenure-chart" height="300" style="height: 300px;"></div>                         
        </div>  
      </div>
    </div><!-- /.card-body -->
  </div>
  <!-- /.card -->

</div>
{% endif %}
